body {
	position:relative;
	min-width:720px;
	overflow-x:hidden;
}

#editor {
	position:absolute;
	border:1px solid #ccc;
	left:72px;right:72px;
	top:132px;
	bottom:100px;
}

#editor-tab {
	display:block;
	margin-top:20px;
	height:32px;
	padding:0 80px;
}

#editor-foot {
	border:1px solid #ccc;
	border-top:none;
	font-size:10px;
	background-color:#444;
	color:white;
	left:72px;right:72px;
	position:absolute;
	height:24px;
	line-height:24px;
	bottom:76px;
	border-radius:0 0 2px 2px;
}

#editor-foot div {
	margin:0 10px;
}

#editor-foot a {
	color:#ddd;
	cursor:pointer;
}

#editor-foot a:hover {
	color:white;
	text-decoration: underline;
}

.actions {
	height:48px;
	margin:32px 72px 0 72px;
	padding:10px 12px;
	font-size:12px;
	background-color:white;
	border:1px solid #ccc;
}

.actions button {
	color:#007aff;
	border-radius:2px;
	height:24px;
	padding:0 8px;
	margin:0px 8px 0px 0;
	line-height:24px;
	font-size:12px;
	background-color:#ffffff;
	box-shadow:0 0px 2px 0 rgba(0,0,0,.25);
	border:none;
	cursor:pointer;
}

.actions button:focus {
	outline:0;
}

.actions button:hover {
	box-shadow:0 0 4px 0 rgba(0,0,0,.25);
}

.actions button:active {
	background-color:#007af4;
	color:white;
}

#message {
	position:absolute;
	right:72px;
	top:88px;
	width:320px;
	height:220px;
	border:1px solid #ccc;
	color:white;
	background-color:#0070f0;
	border-radius:2px;
	z-index:100;
	overflow:hidden;
	transition:transform 0.25s ease, background-color 0.25s ease;
	transform-origin:top right;
	transform:translate(-24px,56px);
	box-shadow:0 2px 8px 0 rgba(0,0,0,.25);
}

#message.minimized {
	transform:scale(0.2,0.2);
	overflow-y:hidden;
	box-shadow:none;
}

#message .title {
	width:100%;
	height:24px;
	line-height:24px;
	font-size:11px;
	color:rgba(0,0,0,0.87);
	background-color:#f0f0f0;
	border-bottom:1px solid #ccc;
	padding:0 10px;
	cursor:pointer;
}

#message pre {
	font-size:10px;
	color:white;
	width:100%;
	height:176px;
	white-space:pre-wrap;
	overflow-y:auto;
	padding:12px;
}

#message.minimized pre {
	cursor:pointer;
	overflow:hidden;
}

.mml-error {
	background: rgba(255, 50, 50, 0.4);
	position: absolute;
	width: 100% !important;
	left: 0 !important;
}

.msxplay {
	transition:bottom 0.5s ease;
}
.msxplay:not([data-hash]) {
	bottom:-56px;
}

#modal-stage {
	position:absolute;
	top:0;left:0;bottom:0;right:0;
	background-color: rgba(0,0,0,.5);
	display:none;
	z-index:101;
}

.dialog {
	top:0;left:0;bottom:0;right:0;
	display:none;
	background-color:#fafafa;
	border-radius:2px;
	box-shadow:0 0 20px 0 rgba(0,0,0,.5);
	font-size:14px;
	margin:auto auto;
}

.dialog .content {
	padding:20px 20px 0px 20px;
}

.dialog .content p {
	margin-bottom:12px;
	font-size:14px;
}

.dialog .button-area {
	width:100%;
	height:44px;
	padding:0px 8px 8px 0;
}

.dialog .button-area:after {
	content:'';
	clear:both;
}

.dialog .button {
	text-align:center;
	font-size:14px;
	height:36px;
	line-height:36px;
	border-radius:2px;
	padding:0 8px;
	margin-left:8px;
	min-width:64px;
	float:right;
	cursor:pointer;
	color:#3a76ff;
}
.dialog .button:hover {
	background-color:#ddd;
}

.dialog ul.item-list {
	display:block;
	width:100%;
	padding:0;
	margin:0;
}

.dialog ul.item-list li {
	background-color:white;
	display:block;
	width:100%;
	height:48px;
	padding:0 20px;
	margin:0;
	line-height:48px;
	font-size:16px;
	float:none;
	text-align:left;
}
